{% extends 'base.html.twig' %}

{% block title %}
    <title>Ringhorn Framework: Eintrag bearbeiten</title>
{% endblock %}

{% block body %}
    <h2>Eintrag bearbeiten <small>({{ category.title }})</small></h2>

    {{ flash.show|raw }}

    <p>
        <a href="{{ route('base/index') }}">Zurück zur Übersicht</a>
    </p>

    {{ include('base/_form.html.twig', {'button':'Aktualisieren'}) }}

    {{ include('base/_delete_form.html.twig') }}

{% endblock %}