{% extends 'base.html.twig' %}

{% block body %}
   <h1>
       <a href="{{ link('base/index') }}">{{ controller_name }}</a>
   </h1>

    <ul>
        {% for category in categories %}
            <li>{{ category.title }}</li>
        {% endfor %}
    </ul>

    <form method="post">
        <label>
            User (mit CSRF)
            <input type="text" name="user">
        </label>
        <input type="hidden" name="csrf_token" value="{{ session.get('csrf_token') }}">
        <button type="submit">Absenden</button>
    </form>

    <hr>
    <hr>

    <form method="post">
        <label>
            User (ohne CSRF)
            <input type="text" name="user">
        </label>
        <button type="submit">Absenden</button>
    </form>

{{ flash.show|raw }}


{% endblock %}