{% extends('base.html.twig')%}

{% block title %}
    <title>Ringhorn Framework: Übersicht</title>
{% endblock %}

{% block body %}

    {{ flash.show|raw }}

    <h2>Übersicht</h2>

    <div class="uk-flex uk-flex-bottom">
        <a href="{{ route('base/new') }}" class="uk-button uk-button-text">Eintrag hinzufügen</a>
        <div class="uk-margin-left">
            {{ include('base/_truncate_form.html.twig') }}
        </div>
    </div>


    {{ include('components/entity/category/_table.html.twig') }}

    <div class="uk-flex uk-flex-bottom">
        <a href="{{ route('base/new') }}" class="uk-button uk-button-text">Eintrag hinzufügen</a>
        <div class="uk-margin-left">
            {{ include('base/_truncate_form.html.twig') }}
        </div>
    </div>

{% endblock %}
