<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {% block title %}
            <title>Ringhorn Framework</title>
        {% endblock %}
        {% block stylesheets %}
            {{ get_entry_link_tags('app')|raw }}
        {% endblock %}
    </head>
    <body class="bg-light">

    <nav class="navbar navbar-expand navbar-light bg-white border-bottom">
        <div class="container-fluid my-1">

            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="navbar-brand" href="{{ route('timetable/index') }}">
                                <span class="h4 text-cyan text-uppercase">Ring<span class="text-black-50">horn</span></span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ app.user.username }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ route('user/index') }}">Persönliche Daten</a></li>
                                    <li><a class="dropdown-item"  href="{{ route('timetable/bookings') }}">Buchungen</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-item"  href="{{ route('user/logout') }}">Logout</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ route('user/login') }}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ route('user/register') }}">Register</a></li>
                        {% endif %}
                    </ul>
            </div>
        </div>
    </nav>

        <nav class="navbar navbar-expand-md bg-light navbar-light border-bottom shadow-sm">
            <div class="container-md">
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% block navigation_left %}
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="{{ route('base/index') }}">Base</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ route('room/index') }}">{{ trans["rooms"] }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ route('timetable/index') }}">{{ trans["booking plan"] }}</a></li>

                        </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>
        {{ flash.show|raw }}
        <div class="container-fluid px-0">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ get_entry_script_tags('app')|raw }}
            <script>
                (function () {
                    'use strict'

                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.querySelectorAll('.needs-validation')

                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                })()

                function toastClose(){
                    var myToastEl = document.getElementById('myToast');
                    myToastEl.classList.replace('show','hide');
                }
            </script>
        {% endblock %}
    </body>
</html>
