{% if userBookings %}
    <div class="list-group list-group-flush">
        {% for booking in userBookings|sort((a, b) => a.appointment <=> b.appointment)  %}
            {% if booking.appointment|date('Y-m-d') == "now"|date("Y-m-d") %}
                {% for room in rooms %}
                    {% set dateOffset = date(booking.appointment|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
                    {% if booking.roomId == room.id %}
                        {% set color = '' %}
                        {% if booking.appointment|date('Y-m-d H') < "now"|date('Y-m-d H') %}
                            {% set color = 'bg-gradient bg-light' %}
                        {% endif %}
                        {% if booking.appointment|date('Y-m-d H') == "now"|date('Y-m-d H') %}
                            {% set color = 'warning bg-gradient active text-white' %}
                        {% endif %}
                        <div class="list-group-item p-1">
                            <a
                                    href="{{ route('timetable/index',{
                                        'dateOffset': dateOffset.days
                                    }) }}"
                                    class="list-group-item-action d-flex justify-content-between  align-items-center text-decoration-none px-3 py-2 bg-{{ color }}"
                            >
                                        <span>
                                            <div class="">{{ trans['room'] }} {{ room.title }}</div>
                                            <small class="badge bg-light text-dark border shadow-sm" style="font-weight: 300">{{ booking.title }}</small>
                                            {% set hasBlackList = false %}
                                            {% for blacklist in room.blacklist %}
                                                {% if booking.appointment|date() >= blacklist.start|date() and booking.appointment|date() <= blacklist.end|date() %}
                                                    <span class="text-danger">{{ blacklist.title }} <small class="text-italic">{{ trans['booking canceled'] }}</small></span>
                                                    {% set hasBlackList = true %}
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                <span>{{ booking.appointment|date('H:i') }}</span>
                                <div class="position-absolute p-2 w-100" style="bottom: 0;left:0">
                                    {% if booking.appointment|date('Y-m-d H') == "now"|date('Y-m-d H') %}
                                        {% set percent = ("now"|date('i') / 60 * 100)|round %}
                                        <div class="progress" style="height: 2px">
                                            <div class="progress-bar bg-primary ct" role="progressbar"  aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    {% endif %}
                                </div>

                            </a>

                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <span>Keine Buchungen gefunden</span>
{% endif %}