<form method="post" class="needs-validation" novalidate>

    <div class="row mb-3">
        <label class="col-md-4 col-form-label required" for="email">{{ trans["email"] }}</label>
        <div class="col-md-7">
            <input type="email" class="form-control" id="email" name="email" required="required" value="{{ user.email|default('') }}">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-4 col-form-label required" for="username">{{ trans["username"] }}</label>
        <div class="col-md-7">
            <input type="text" class="form-control" id="username" name="username" required="required" value="{{ user.username|default('') }}">
        </div>
    </div>

    <div class="row mb-1">
        <label class="col-md-4 col-form-label required" for="password_a">{{ trans["password"]["new"] }}</label>
        <div class="col-md-7">
            <input type="password" class="form-control" id="password_a" name="password_a" required="required" value=" value="{{ user.password.0|default('') }}"">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-4 col-form-label required" for="password_b">{{ trans["password"]["repeat"] }}</label>
        <div class="col-md-7">
            <input type="password" class="form-control" id="password_b" name="password_b" required="required" value=" value="{{ user.password.1|default('') }}"">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-4 col-form-label required" for="firstname">{{ trans["firstname"] }}</label>
        <div class="col-md-7">
            <input type="text" class="form-control" id="firstname" name="firstname" required="required" value="{{ user.firstname|default('') }}">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-4 col-form-label required" for="lastname">{{ trans["lastname"] }}</label>
        <div class="col-md-7">
            <input type="text" class="form-control" id="lastname" name="lastname" required="required" value="{{ user.lastname|default('') }}">
        </div>
    </div>

    <input type="hidden" name="csrf_token" value="{{ app.csrf_token }}">

    <div class="row mb-3">
        <div class="col-md-7 offset-md-4">
            <button type="submit" class="btn btn-purple w-100 mb-3">{{ trans["button"]["register"] }}</button>
        </div>
    </div>

</form>
